body {
    background-color: #cecece;
    font-family: 'Press Start 2P', cursive;
}
.button {
    width: 4.5em;
    height: 4.5em;
    font-weight: bold;
    box-shadow: 2em;
    text-align: center;
}
.calcChild {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
}
.calculatorContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 45em;
    border: 1px solid black;
    font-size: 18px;
    background-color: #2D364C;
    margin: auto;
}
.display {
    height: 3em;
    font-size: .8em;
    font-weight: bold;
}
.horizContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.num-btn {
    background-color: #3C62A3;
    color:#FFF;
}
.operator-btn {
    background-color: #D0E800;
}
.other-btn {
    background-color: #ED7D2D;
}
.rounded {
    border-radius: .5em;
}
#btnClear {
    background-color: #DD0000;
}
#displayContainer {
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
#mainContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#msg {
    font-weight: bold;
    font-size: .7em;
    color: red;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#operator {
    width: 8em;
    text-align: center;
}