.socialBar > a:link {
    text-decoration: none;
}

.footerContent {
    margin-top: 8px;
}

.highlight {
    font-weight: bold;
}

.section {
    margin: auto;
    max-width: 75%;
}

.sectionTitle:link {
    text-decoration: none;
}

.socialIcon {
    margin-left: 1%;
    margin-right: 1%;
}


#comment {
    height: 10em;
}